#background {
  background-color: #e8fffe;
}
html {
    background-color: #e8fffe;

}
.links{
  font-size: 20px;
  margin-top: -10px;
  text-shadow: 0px 3px 10px #1B1B1B80;
  z-index: 4;

}
.main{
  margin: 10%;
  margin-top: 150px;
  max-width: 100%;
  box-shadow: 0px 10px 50px #1B1B1B40;
  border: solid black rgba(0, 0, 0, 0.1);
  background-color: white;
}
#logo{
  color: rgba(255, 255, 255, 0.5);

}
.brand-logo{
  text-shadow: 0px 3px 10px #1B1B1B80;
}
.navbar-fixed{
  margin-top: -150px;
  height: 90px;
  display: flex;
  justify-content: center;
  text-align: center;
  /*border: solid 2px green;*/
  position: fixed;
  z-index: 3;
  width: 100%;
}

nav {
  font-size: 50px;
  width: 80%;
  background-color: #E69C1306;
  box-shadow: 0px 3px 10px #1B1B1B50;

}
iframe {
  width: 100%;
}
.vid {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  width: 100%;
  position: absolute;
}

#aboutme{
  padding: 13%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
  z-index: 3;
  color: white;
  /*border: solid 1px purple;*/
  font-size: 30px;
  text-shadow: 0px 3px 10px #AAAFAA80;
  margin-bottom: 140px;
  margin-left: -25px;
}

#aboutme{
  overflow: hidden;
  text-align: center;
}
#aboutme p {
  opacity: 0;
  transform: scale(10);
  transition: all 0.3s ease-in-out 0.2s;
}
#aboutme:hover p{
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease-in-out 0.1s;
}


.projects-container{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 80px;
/*  border: solid 1px pink;
*/  padding-top: 50px;
  padding-bottom: 0px;
}


a:link {
color: #58595B;
}
a:visited {
color: #58595B;
}
a:hover {
color: #66c7e8;
}
.page-footer{
/*  border: solid 1px purple;
*/ display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 35px;
}
.copyright{
/*  border: solid 1px purple;
*/ display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
}
.t{
  margin-top: 10px;
}
.icon {
  display: flex;
  justify-content: space-around;
  /*border: 4px solid black;*/
  padding-bottom: 80px;
}

#react {
  height: 10%;
  width: 10%;
  /*border: 1px solid black;*/
  margin-left: 1px;
  margin-right: 1px;
}
#ex {
  height: 10%;
  width: 10%;
  /*border: 1px solid black;*/
  margin-left: 1px;
  margin-right: 1px;
}
#db {
  height: 10%;
  width: 10%;
  /*border: 1px solid black;*/
  margin-left: 1px;
  margin-right: 1px;
}
#js {
  height: 10%;
  width: 10%;
  /*border: 1px solid black;*/
  margin-left: 1px;
  margin-right: 1px;
}
#css {
  height: 6%;
  width: 8%;
  /*border: 1px solid black;*/
  margin-left: 1px;
  margin-right: 1px;
}
#django {
  height: 10%;
  width: 10%;
  /*border: 1px solid black;*/
  margin-left: 1px;
  margin-right: 1px;
}
#python {
  height: 10%;
  width: 10%;
  /*border: 1px solid black;*/
  margin-left: 1px;
  margin-right: 1px;
}
#html {
  height: 10%;
  width: 10%;
  /*border: 1px solid black;*/
  margin-left: 1px;
  margin-right: 1px;
}
#jq{
  height: 10%;
  width: 10%;
  /*border: 1px solid black;*/
  margin-left: 1px;
  margin-right: 1px;
}

p{
  text-indent: 6%;
}

.images {
  height: 240px;
  width: 90%;
  z-index: 1;
  box-shadow: 5px 10px 10px #1A3E4C;

}
.card-image{
  margin-bottom: 40px;
  margin-top: 20px;
}
/*about me page*/
.content {
  text-align: center;
}

.jpeg{
  background-color: #efefef;; 
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 5px 10px 20px #1A3E4C;
  padding-bottom: 25px;
  padding-top: 15px;

}
.card{
  display: inline-flex;
  justify-content: space-between;
  box-shadow: 5px 10px 10px #092834;
  margin-bottom: 20px;
  margin-left: 2px;
}

#profile{
  margin-bottom: 80px;
  /*border: solid 1px red;*/
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 45px;
  padding-right: 45px;
  background-color: #58595B;
  color: white;
  font-weight: 400;
  font-size: 24px;
}
